{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text center my-5">
      <h1 class="display-3"><b>Welcome to RNSouls</b></h1>
    </div>
  </div>
</div>
{%if error%}
<div class="container alert alert-danger bg-gradient shadow text-center" role="alert">
  <b> {{ error }}</b>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text center my-3">
      <form method="POST" action="/index.html">
        <div class="form-group mb-5">
          <label for="exampleInputEmail1">Username/Email address</label>
          <input name="identity" type="text" class="form-control" id="exampleInputEmail1"
            placeholder="Username or email" aria-describedby="emailHelp" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" />

          <button role="submit" class="btn btn-dark my-3">Sign in</button>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>
      <div class="text">Not registered with RNSouls? <a class="text" href="/signup.html"><u>Sign up here</u></a></div>
    </div>
  </div>
</div>
{% endblock %}